body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px;
    max-width: 1000px;
    margin: 0 auto;
}
.box1 {
    background-color: grey;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}
.box2 {
    background-color: black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}
.box2:hover {
    background-color: darkolivegreen;
}
.blipgood {
    width: fit-content;
    height: fit-content;
    float: right;
    background-color: greenyellow;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}
.blipgood:hover {
    transform: scale(1.5);
}
.blipbad {
    width: fit-content;
    height: fit-content;
    float: right;
    background-color: orange;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}
.blipbad:hover {
    transform: scale(1.5);
}
